<launch>
  <!-- Name of the USB port the Arduino is connected to -->
  <arg name="port" default="/dev/ttyACM0" />

  <!-- Start up Turtlebot, in this case the Gazebo simulation -->
  <include file="$(find turtlebot_gazebo)/launch/turtlebot_world.launch" />

  <!-- Start IR Sensor nodes -->
  <!-- start Arduino node -->
  <node pkg="rosserial_python" type="serial_node.py" name="serial_node" respawn="true">
    <param name="port" value="$(arg port)" />
  </node>

  <!-- start IR data conversion node -->
  <node pkg="ir_sensors" type="ir_data_process.py" name="ir_data_process" />

  <!-- start velocity control node  -->
  <node pkg="ir_sensors" type="ir_vel_control.py" name="ir_vel_control" />

  <!-- start velocity smoother node -->
  <node pkg="ir_sensors" type="vel_smoother.py" name="vel_smoother" />

</launch>
